<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pms.pojo.UserInfo" >
    <id column="userID" property="userid" jdbcType="VARCHAR" />
    <result column="userTel" property="usertel" jdbcType="VARCHAR" />
    <result column="validate_code" property="validateCode" jdbcType="VARCHAR" />
    <result column="sms" property="sms" jdbcType="VARCHAR" />
    <result column="dead_line" property="deadLine" jdbcType="TIMESTAMP" />
    <result column="usable" property="usable" jdbcType="BIT" />
    <result column="sended" property="sended" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    userID, userTel, validate_code, sms, dead_line, usable, sended, create_time, last_modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where userID = #{userid,jdbcType=VARCHAR}
  </select>
  <select id="isRegister" resultType="boolean" parameterType="java.lang.String">
  select 1 from user_info where userTel=#{userTel,jdbcType=VARCHAR} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_info
    where userID = #{userid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pms.pojo.UserInfo" >
    insert into user_info (userID, userTel, validate_code, 
      sms, dead_line, usable, 
      sended, create_time, last_modify_time
      )
    values (#{userid,jdbcType=VARCHAR}, #{usertel,jdbcType=VARCHAR}, #{validateCode,jdbcType=VARCHAR}, 
      #{sms,jdbcType=VARCHAR}, #{deadLine,jdbcType=TIMESTAMP}, #{usable,jdbcType=BIT}, 
      #{sended,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{lastModifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pms.pojo.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userID,
      </if>
      <if test="usertel != null" >
        userTel,
      </if>
      <if test="validateCode != null" >
        validate_code,
      </if>
      <if test="sms != null" >
        sms,
      </if>
      <if test="deadLine != null" >
        dead_line,
      </if>
      <if test="usable != null" >
        usable,
      </if>
      <if test="sended != null" >
        sended,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="usertel != null" >
        #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="validateCode != null" >
        #{validateCode,jdbcType=VARCHAR},
      </if>
      <if test="sms != null" >
        #{sms,jdbcType=VARCHAR},
      </if>
      <if test="deadLine != null" >
        #{deadLine,jdbcType=TIMESTAMP},
      </if>
      <if test="usable != null" >
        #{usable,jdbcType=BIT},
      </if>
      <if test="sended != null" >
        #{sended,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pms.pojo.UserInfo" >
    update user_info
    <set >
      <if test="usertel != null" >
        userTel = #{usertel,jdbcType=VARCHAR},
      </if>
      <if test="validateCode != null" >
        validate_code = #{validateCode,jdbcType=VARCHAR},
      </if>
      <if test="sms != null" >
        sms = #{sms,jdbcType=VARCHAR},
      </if>
      <if test="deadLine != null" >
        dead_line = #{deadLine,jdbcType=TIMESTAMP},
      </if>
      <if test="usable != null" >
        usable = #{usable,jdbcType=BIT},
      </if>
      <if test="sended != null" >
        sended = #{sended,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where userID = #{userid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pms.pojo.UserInfo" >
    update user_info
    set userTel = #{usertel,jdbcType=VARCHAR},
      validate_code = #{validateCode,jdbcType=VARCHAR},
      sms = #{sms,jdbcType=VARCHAR},
      dead_line = #{deadLine,jdbcType=TIMESTAMP},
      usable = #{usable,jdbcType=BIT},
      sended = #{sended,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP}
    where userID = #{userid,jdbcType=VARCHAR}
  </update>
</mapper>